.DS_Store
node_modules
*.log
.avrit-local.json
*.p8
*.keystore
*.jks
play-upload-sa.json
ios/build/
ios/Avrit/www/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/
android/local.properties
android/gradlew.bat
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
fastlane/README.md
*.xcuserstate
xcuserdata/
